// fade-transition Transition(forward)
// --------------------------------------------------
[transition-direction="forward"] {
  .fade-transition-enter {
    opacity: 0.01 !important;
  }
  .fade-transition-enter-active {
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transform-origin: center center;
  }
  .fade-transition-leave-active {
    transition-duration: 500ms;
    transform-origin: center center;
  }
}

// fade-transition Transition(backward)
// --------------------------------------------------
[transition-direction="backward"] {
  .fade-transition-enter-active {
    transition-duration: 500ms;
    transform-origin: center center;
  }
  .fade-transition-leave-active {
    opacity: 0.01 !important;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transform-origin: center center;
  }
}

// fade-right-transition Transition(forward)
// --------------------------------------------------
[transition-direction="forward"] {
  .fade-right-transition-enter {
    position: absolute !important;
    opacity: 0 !important;
    transform: translateX(50%);
  }
  .fade-right-transition-enter-active {
    position: absolute !important;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  }
  .fade-right-transition-leave-active {
    position: absolute !important;
    transition-duration: 500ms;
  }
}

// fade-right-transition Transition(backward)
// --------------------------------------------------
[transition-direction="backward"] {
  .fade-right-transition-enter {
    position: absolute !important;
  }
  .fade-right-transition-enter-active {
    position: absolute !important;
    transition-duration: 500ms;
  }
  .fade-right-transition-leave-active {
    position: absolute !important;
    opacity: 0 !important;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transform: translateX(50%);
  }
}

// fade-bottom-transition Transition(forward)
// --------------------------------------------------
[transition-direction="forward"] {
  .fade-bottom-transition-enter {
    opacity: 0.01 !important;
    transform: translateY(40px);
  }
  .fade-bottom-transition-enter-active {
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  }
  .fade-bottom-transition-leave-active {
    transition-duration: 500ms;
  }
}
// fade-bottom-transition Transition(backward)
// --------------------------------------------------
[transition-direction="backward"] {
  .fade-bottom-transition-enter-active {
    transition-duration: 500ms;
  }

  .fade-bottom-transition-leave-active {
    opacity: 0.01 !important;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transform: translateY(40px);
  }
}

// zoom-transition Transition(forward)
// --------------------------------------------------
[transition-direction="forward"] {
  .zoom-transition-enter {
    opacity: 0.01 !important;
    transform: scale(0.95);
  }
  .zoom-transition-enter-active {
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transform-origin: center center;
  }
  .zoom-transition-leave-active {
    transition-duration: 500ms;
    transform-origin: center center;
  }
}

// zoom-transition Transition(backward)
// --------------------------------------------------
[transition-direction="backward"] {
  .zoom-transition-enter-active {
    transition-duration: 500ms;
    transform-origin: center center;
  }
  .zoom-transition-leave-active {
    opacity: 0.01 !important;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transform: scale(0.95);
    transform-origin: center center;
  }
}
